<!-- Ini untuk modal tambah -->
<ion-modal [isOpen]="modal_tambah">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Batal</ion-button>
        </ion-buttons>
        <ion-title>Tambah Bukutamu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input label="Nama" labelPlacement="floating" required [(ngModel)]="nama" placeholder="Masukkan nama"
          type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Keperluan" labelPlacement="floating" required [(ngModel)]="keperluan"
          placeholder="Masukkan keperluan" type="text"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="button" (click)="tambahBukutamu()" color="primary" shape="full" expand="block">
            Tambah Bukutamu
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Ini untuk modal edit -->
<ion-modal [isOpen]="modal_edit">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Batal</ion-button>
        </ion-buttons>
        <ion-title>Edit Bukutamu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input label="Nama" labelPlacement="floating" required [(ngModel)]="nama" placeholder="Masukkan nama"
          type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Keperluan" labelPlacement="floating" required [(ngModel)]="keperluan"
          placeholder="Masukkan keperluan" type="text"></ion-input>
      </ion-item>
      <ion-input required [(ngModel)]="id_bukutamu" type="hidden"></ion-input>
      <ion-row>
        <ion-col>
          <ion-button type="button" (click)="editBukutamu()" color="primary" shape="full" expand="block">
            Edit Bukutamu
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="logout()" fill="solid" color="warning">
          Logout
        </ion-button>
      </ion-buttons>
      <ion-title size="large">Buku Tamu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-button (click)="open_modal_tambah(true)" expand="block">
      Tambah Bukutamu
    </ion-button>
  </ion-card>

  <ion-card *ngFor="let item of dataBukutamu">
    <ion-item>
      <ion-label>
        {{item.nama}}
        <p>{{item.keperluan}}</p>
      </ion-label>
      <ion-button expand="block" (click)="open_modal_edit(true,item.id)">
        Edit
      </ion-button>
      <ion-button color="danger" slot="end" (click)="hapusBukutamu(item.id)" expand="">
        Hapus
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>